@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') * {
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 134, 112);
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}

.airplane-container {
    margin: 20px 0;
}

.airplane-container select {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 5px;
}

.row {
    display: flex;
}

.seat.selected {
    background-color: rgb(59, 147, 210);
}

.seat.occupied {
    background-color: rgba(0, 0, 0, 0.281);
}

.seat {
    background-color: rgb(209, 203, 203);
    height: 12px;
    width: 15px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.seat:nth-of-type(3),
.seat:nth-of-type(7) {
    margin-right: 15px;
}